<a href="https://colab.research.google.com/github/Rizwan-Ahmed-Surhio/Accountants/blob/main/11_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dictionaries

In [ ]:
yearly_Sales = [40000, 42000, 47000, 52000, 39000]

In [ ]:
years = [2016,2019,2017,2020,2018]

#### Access List element using Integer

In [ ]:
yearly_Sales[1]

#### Accessing Dictionary Element Using Key

In [ ]:
sales = {2016: 40000,
         2017: 42000,
         2018: 47000,
         2019: 52000,
         2020: 39000}

In [ ]:
type(sales)

In [ ]:
sales[2018]

##### Dictionary can have any type as key not just the integer in case of Lists

## Create a Dictionary of Apple Inc. financial data

In [ ]:
apple = {"date":	"2020-09-26",
"symbol":	"AAPL",
"ebitda":	81020000000,
"ebitdaratio":	0.295138699160337,
"operatingIncome":	66288000000,
"operatingIncomeRatio":	0.244398302460703,
"eps":	3.36,
"epsdiluted":	3.36,
"BasedInUS": True

}

In [ ]:
type(apple)

#### Find Apple EPS and Basedin In US data type

In [ ]:
apple['eps']

In [ ]:
apple['BasedInUS']

### Create a dictionary for Arrow company financial data

In [ ]:
arrow = {'Revenue': 1000000,
         'cost_of_sales': 600000,
         'admin_cost': 150000,
         'marketing_cost': 50000,
         'interest': 2000,
         'is_profitable': True}

In [ ]:
arrow

In [ ]:
arrow['Revenue']

In [ ]:
arrow['admin_cost']

### Adding a new key value pair in existing dictionary

In [ ]:
arrow['profit_amount'] = 198000

In [ ]:
arrow

### Change existing value of a key

In [ ]:
arrow['Revenue'] = 1200000

In [ ]:
arrow

### Nested dictionary structures , List in a Dictionary

In [ ]:
employees = {
    'accounting'  : 'Ahmed',
    'marketing'   : 'Richard',
    'HR'          : 'John',
    'IT'          : ['Sofi', 'Irfan', 'Vikas', 'Sam']
}

In [ ]:
employees['IT']

In [ ]:
type(employees['IT'])

### get() Method

In [ ]:
apple['EBITDA']

In [ ]:
print(apple.get("EBITDA"))

In [ ]:
print(apple.get("eps"))

In [ ]:
print(apple.get("population_Growth_in_US", "Sorry value not found"))