<a href="https://colab.research.google.com/github/Rizwan-Ahmed-Surhio/Accountants/blob/main/DataAcquistion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.1.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)

In [ ]:
import pandas_datareader as pdr
import pandas as pd

In [ ]:
apple = pdr.DataReader("AAPL", "yahoo", start = '2016-05-01', end = '2021-05-03')
apple

                  High         Low  ...       Volume   Adj Close
Date                                ...
2016-05-02   23.520000   23.100000  ...  192640400.0   21.736921
2016-05-03   23.934999   23.420000  ...  227325200.0   22.094408
2016-05-04   23.975000   23.455000  ...  164102000.0   21.864603
2016-05-05   23.517500   23.170000  ...  143562000.0   21.775850
2016-05-06   23.362499   22.962500  ...  174799600.0   21.654408
...                ...         ...  ...          ...         ...
2021-04-27  135.410004  134.110001  ...   66015800.0  134.162109
2021-04-28  135.020004  133.080002  ...  107760100.0  133.353485
2021-04-29  137.070007  132.449997  ...  151101000.0  133.253662
2021-04-30  133.559998  131.070007  ...  109713200.0  131.237091
2021-05-03  134.070007  131.830002  ...   75135100.0  132.315247

[1260 rows x 6 columns]