<a href="https://colab.research.google.com/github/Rizwan-Ahmed-Surhio/Accountants/blob/main/MiniProject_ExcelSplit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/Rizwan-Ahmed-Surhio/Accountants/main/Python%20for%20Accountants%20III/data/100000%20Sales%20Records.xlsx'

In [ ]:
data = pd.read_excel(url)

In [ ]:
data.head()

                              Region  ... Total Profit
0       Middle East and North Africa  ...     51500.76
1  Central America and the Caribbean  ...    791282.37
2                 Sub-Saharan Africa  ...     24066.26
3                 Sub-Saharan Africa  ...    228497.08
4  Central America and the Caribbean  ...    970846.34

[5 rows x 14 columns]

In [ ]:
all_products_names = data['Item Type'].unique()

In [ ]:
all_products_names

array(['Snacks', 'Cosmetics', 'Fruits', 'Personal Care', 'Household',
       'Clothes', 'Vegetables', 'Office Supplies', 'Beverages', 'Meat',
       'Cereal', 'Baby Food'], dtype=object)

In [ ]:
data.head(30)

                               Region  ... Total Profit
0        Middle East and North Africa  ...     51500.76
1   Central America and the Caribbean  ...    791282.37
2                  Sub-Saharan Africa  ...     24066.26
3                  Sub-Saharan Africa  ...    228497.08
4   Central America and the Caribbean  ...    970846.34
5                              Europe  ...     84382.56
6                              Europe  ...   1384700.68
7        Middle East and North Africa  ...     15199.87
8                              Europe  ...    453085.38
9                                Asia  ...    479533.46
10  Central America and the Caribbean  ...    179259.97
11                             Europe  ...     85557.60
12                             Europe  ...    550555.06
13       Middle East and North Africa  ...    777770.89
14                               Asia  ...    284211.26
15  Central America and the Caribbean  ...   1136755.00
16                 Sub-Saharan Africa  ...     15631.26
17       Middle East and North Africa  ...    142926.32
18              Australia and Oceania  ...     57754.08
19                             Europe  ...    648546.25
20                 Sub-Saharan Africa  ...     47324.52
21                             Europe  ...     44959.20
22                 Sub-Saharan Africa  ...    678440.74
23       Middle East and North Africa  ...    431876.25
24                 Sub-Saharan Africa  ...    605292.48
25       Middle East and North Africa  ...    351570.97
26       Middle East and North Africa  ...     28787.28
27       Middle East and North Africa  ...    445915.00
28                 Sub-Saharan Africa  ...   1296722.46
29                               Asia  ...    170712.93

[30 rows x 14 columns]

In [ ]:
for product in all_products_names:
  df = data[data['Item Type'] == product]
  output_file_name = 'Product_'+ str(product)+".xlsx"
  df.to_excel(output_file_name, index = False)

### Zip to download all files at once

In [ ]:
! zip all_products.zip *.xlsx

  adding: Product_Baby Food.xlsx (deflated 2%)
  adding: Product_Beverages.xlsx (deflated 3%)
  adding: Product_Cereal.xlsx (deflated 3%)
  adding: Product_Clothes.xlsx (deflated 3%)
  adding: Product_Cosmetics.xlsx (deflated 3%)
  adding: Product_Fruits.xlsx (deflated 3%)
  adding: Product_Household.xlsx (deflated 3%)
  adding: Product_Meat.xlsx (deflated 3%)
  adding: Product_Office Supplies.xlsx (deflated 3%)
  adding: Product_Personal Care.xlsx (deflated 3%)
  adding: Product_Snacks.xlsx (deflated 3%)
  adding: Product_Vegetables.xlsx (deflated 3%)