<a href="https://colab.research.google.com/github/Rizwan-Ahmed-Surhio/Accountants/blob/main/MiniProject_CashFlowProjection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

### List Comprehension and dict comprehension to create dict with numbers as values

In [ ]:
Income_first_year = 300
Income_growth_rate = 0.07
Discount_rate = 0.04
total_years = 20

In [ ]:
income = []
for i in range(total_years):
  income.append(Income_first_year*(1+Income_growth_rate)**i)

In [ ]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
income

[300.0,
 321.0,
 343.47,
 367.51290000000006,
 393.2388030000001,
 420.7655192100001,
 450.21910555470015,
 481.7344429435292,
 515.4558539495763,
 551.5377637260467,
 590.14540718687,
 631.4555856899509,
 675.6574766882475,
 722.9535000564248,
 773.5602450603745,
 827.7094622146009,
 885.649124569623,
 947.6445632894967,
 1013.9796827197615,
 1084.958260510145]

In [ ]:
discount_factor = []
for i in range(total_years):
  discount_factor.append((1+Discount_rate)**(-i))

In [ ]:
discount_factor

[1.0,
 0.9615384615384615,
 0.9245562130177514,
 0.8889963586709148,
 0.8548041910297257,
 0.8219271067593517,
 0.7903145257301458,
 0.7599178132020632,
 0.7306902050019839,
 0.7025867355788306,
 0.6755641688257986,
 0.6495809315632679,
 0.6245970495800652,
 0.6005740861346781,
 0.5774750828218058,
 0.5552645027132749,
 0.5339081756858411,
 0.5133732458517704,
 0.49362812101131764,
 0.47464242404934387]

In [ ]:
df = pd.DataFrame()
df['Income'] = income
df['Discount Factor'] = discount_factor

In [ ]:
df

         Income  Discount Factor
0    300.000000         1.000000
1    321.000000         0.961538
2    343.470000         0.924556
3    367.512900         0.888996
4    393.238803         0.854804
5    420.765519         0.821927
6    450.219106         0.790315
7    481.734443         0.759918
8    515.455854         0.730690
9    551.537764         0.702587
10   590.145407         0.675564
11   631.455586         0.649581
12   675.657477         0.624597
13   722.953500         0.600574
14   773.560245         0.577475
15   827.709462         0.555265
16   885.649125         0.533908
17   947.644563         0.513373
18  1013.979683         0.493628
19  1084.958261         0.474642

In [ ]:
df['Discounted Cashflow'] = df['Income'] * df['Discount Factor']

In [ ]:
df

         Income  Discount Factor  Discounted Cashflow
0    300.000000         1.000000           300.000000
1    321.000000         0.961538           308.653846
2    343.470000         0.924556           317.557322
3    367.512900         0.888996           326.717630
4    393.238803         0.854804           336.142177
5    420.765519         0.821927           345.838586
6    450.219106         0.790315           355.814699
7    481.734443         0.759918           366.078584
8    515.455854         0.730690           376.638544
9    551.537764         0.702587           387.503117
10   590.145407         0.675564           398.681091
11   631.455586         0.649581           410.181508
12   675.657477         0.624597           422.013666
13   722.953500         0.600574           434.187138
14   773.560245         0.577475           446.711767
15   827.709462         0.555265           459.597683
16   885.649125         0.533908           472.855308
17   947.644563         0.513373           486.495365
18  1013.979683         0.493628           500.528886
19  1084.958261         0.474642           514.967219

In [ ]:
df['Discounted Cashflow'].sum()

7967.164135805237