<a href="https://colab.research.google.com/github/Rizwan-Ahmed-Surhio/Accountants/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
sales_numbers_series = pd.Series([3500,4600,13750,860,2550,11450])

In [ ]:
sales_numbers_series.describe()

count        6.000000
mean      6118.333333
std       5219.446011
min        860.000000
25%       2787.500000
50%       4050.000000
75%       9737.500000
max      13750.000000
dtype: float64

In [ ]:
sales_Array  = np.array([3500,4600,13750,860,2550,11450])
sales_Series = pd.Series([3500,4600,13750,860,2550,11450])

In [ ]:
print(type(sales_Array),type(sales_Series))

<class 'numpy.ndarray'> <class 'pandas.core.series.Series'>

In [ ]:
sales_Series

0     3500
1     4600
2    13750
3      860
4     2550
5    11450
dtype: int64

In [ ]:
sales_list = [3500,4600,13750,860,2550,11450]

In [ ]:
print(type(sales_list))

<class 'list'>

In [ ]:
sales_Series2 = pd.Series(sales_list)

In [ ]:
print(type(sales_Series2))

<class 'pandas.core.series.Series'>

In [ ]:
sales_Array2 = np.array(sales_list)

In [ ]:
print(type(sales_Array2))

<class 'numpy.ndarray'>

Describe function is not available to arrays

In [ ]:
sales_Array.describe()

In [ ]:
sales_Series.describe()

#### Series Index, there is no index in array

In [ ]:
print(sales_Array)

[ 3500  4600 13750   860  2550 11450]

In [ ]:
print(sales_Series)

0     3500
1     4600
2    13750
3      860
4     2550
5    11450
dtype: int64

In [ ]:
sales_Array  = np.array([3500,4600,13750,860,2550,11450])
Product_Names_Array = np.array(['Baby Food','Cereal','Snacks', 'Beverages','Clothes','Personal Care'])

In [ ]:
print(sales_Array, Product_Names_Array )

[ 3500  4600 13750   860  2550 11450] ['Baby Food' 'Cereal' 'Snacks' 'Beverages' 'Clothes' 'Personal Care']

In [ ]:
sales_Series = pd.Series([3500,4600,13750,860,2550,11450], index = ['Baby Food','Cereal','Snacks', 'Beverages','Clothes','Personal Care'] )

In [ ]:
sales_Series

Baby Food         3500
Cereal            4600
Snacks           13750
Beverages          860
Clothes           2550
Personal Care    11450
dtype: int64

In [ ]:
sales_Series[0]

3500

In [ ]:
sales_Series.loc['Baby Food']

3500

In [ ]:
url = 'https://raw.githubusercontent.com/Rizwan-Ahmed-Surhio/Accountants/main/5000%20Sales%20Records.csv'
df = pd.read_csv(url)

In [ ]:
df

                                 Region  ... Total Profit
0     Central America and the Caribbean  ...     52914.72
1     Central America and the Caribbean  ...    119488.38
2                                Europe  ...     74823.48
3                                  Asia  ...    798727.44
4                                  Asia  ...    415865.88
...                                 ...  ...          ...
4995              Australia and Oceania  ...    879197.65
4996       Middle East and North Africa  ...     79094.88
4997                               Asia  ...    498855.44
4998                             Europe  ...    691070.40
4999                 Sub-Saharan Africa  ...    154668.50

[5000 rows x 14 columns]

In [ ]:
type(df['Item Type'])

pandas.core.series.Series